
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube{
  width:150px;
  height: 150px;
  border: solid 1px black;
  margin: 10px;

}

.container{
  width:550px;
  height: 600px;
  border: solid 1px black;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 100px;
}